footer {
    background-color: var(--primary-color);
    height: 60px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    color: white;
    text-align: center;
    margin-top: 4px;
    gap: 10px;
    font-weight: 700;
}