@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Katibeh&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Katibeh&family=Signika+Negative:wght@300..700&display=swap');



:root {
    --primary-color: #130808;
    --text-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    background-color: #f5f5f5;
}

html {
    box-sizing: border-box;

    font-family: "Signika Negative", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.arabic-font {
    font-family: "Katibeh", serif;
    font-weight: 400;
    font-size: 22px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #838383;
}

::-webkit-scrollbar-thumb:hover {
    background: #949494
}

.container {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
    margin-top: 60px;
    min-height: 100vh
}

.playlist {
    margin-top: 500px;
    padding: 12px;
}


.flex-center-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}